:root {
  --base-font-size: 14px;
  --bg-main-color: #ffffff;
  --nav-link-color: #142251;

  //--core-color
  --white-color: #ffffff;
  --dark-blue-color: #142251;
  --bright-blue-color: #213887;
  --gray-color: #989eb1;
  --light-gray-color: #f3f6f9;
}
