@use "../core/mixins" as *;

.hero {
	width: 100%;
	@include adaptive-clamp("padding-top", 20px, 40px);
	@include adaptive-clamp("padding-bottom", 20px, 40px);
	border-bottom: 1px solid var(--dark-blue-color);

	.menu-flex-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.menu-logo {
			max-width: 243px;
			max-height: 33px;

			.logo {
				@include adaptive-clamp("width", 132px, 243px);
				@include adaptive-clamp("height", 19px, 33px);
				flex-shrink: 0;
			}
		}

		.menu-container {
			@media (max-width: 980px) {
				// position: relative;
			}

			.menu-desk {
				display: flex;
				justify-content: space-between;
				@include adaptive-clamp("gap", 12px, 32px);
				@include font-settings("Gilroy", 16px 22px, 140%, 600, var(--dark-blue-color));
				white-space: nowrap;

				@media (max-width: 980px) {
					display: none;
				}

				// Start animation navbar
				a {
					position: relative;
					outline: none;
				}

				a:hover {
					color: var(--dark-blue-color);
				}

				a::before {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					background-color: var(--dark-blue-color);
					transform: scaleX(0);
					transition: transform 0.5s ease;
				}

				a:hover::before {
					transform: scaleX(1);
				}

				a:active::before,
				a:focus::before,
				a:focus-visible::before {
					transform: scaleX(1);
				}
				// End animation navbar
			}

			.menu-mob {
				display: none;

				@media (max-width: 980px) {
					display: block;

					#sidebar-menu {
						min-height: 80vh;
						position: absolute;
						top: 70px;
						left: 0;
						width: 100vw;
						// @include adaptive-clamp("margin-top", 40px, 100px);
						transform: translateX(100vw);
						transition: transform 600ms ease-in-out;
						background-color: var(--bg-main-color);
						padding: 5vh 0;

						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						gap: 30px;
					}
					.sidebar-menu-inner {
						width: max-content;
						margin: 0 auto;
						padding: 0;
						// border-top: 1px solid rgba(255, 255, 255, 0.1);
					}
					.sidebar-menu-inner li {
						list-style: none;
						@include font-settings("Gilroy", 20px 40px, 140%, 500, var(--dark-blue-color));
						// text-transform: uppercase;
						padding: 10px;
						cursor: pointer;
						// border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					}
					input[type="checkbox"]:checked ~ #sidebar-menu {
						transform: translateX(0);
					}
					input[type="checkbox"] {
						transition: all 0.3s;
						box-sizing: border-box;
						display: none;
					}
					.sidebar-icon-toggle {
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 8px;
						transition: all 0.6s;
						cursor: pointer;
						// position: absolute;
						// z-index: 1000;
						// top: 0;
						// right: 0;
						height: 22px;
						width: 32px;
					}
					.spinner {
						transition: all 0.6s;
						position: absolute;
						height: 2px;
						width: 100%;
						background-color: var(--dark-blue-color);
					}
					// .horizontal {
					// 	transition: all 0.6s;
					// 	position: relative;
					// 	float: left;
					// }
					.diagonal.part-1 {
						position: relative;
						transition: all 0.6s;
						float: left;
					}
					.diagonal.part-2 {
						transition: all 0.6s;
						position: relative;
						float: left;
					}
					// input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .horizontal {
					// 	transition: all 0.6s;
					// 	opacity: 0;
					// }
					input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
						transition: all 0.6s;
						transform: rotate(135deg);
					}
					input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
						transition: all 0.6s;
						transform: rotate(-135deg);
						margin-top: -10px;
					}

					.sidebar-menu-contacts {
						display: flex;
						justify-content: space-between;
						// @include adaptive-clamp("padding-top", 12px, 20px);
						// @include adaptive-clamp("padding-bottom", 12px, 20px);
						// @include adaptive-clamp("padding-left", 12px, 20px);
						// @include adaptive-clamp("padding-right", 12px, 20px);
						align-items: center;
						// @include adaptive-clamp("gap", 10px, 15px);
						border: 1px solid #dde0e9;
						border-radius: 100px;
						margin: 0 5vw;

						.sidebar-contact {
							display: flex;
							align-items: center;
							@include adaptive-clamp("gap", 4px, 16px);
							@include adaptive-clamp("padding-top", 10px, 50px);
							@include adaptive-clamp("padding-bottom", 10px, 50px);
							@include adaptive-clamp("padding-left", 10px, 50px);
							@include adaptive-clamp("padding-right", 10px, 50px);

							.menu-soc-logo {
								display: inline-block;
								@include adaptive-clamp("width", 18px, 42px);
								@include adaptive-clamp("height", 18px, 42px);
								flex-shrink: 0;
							}
							.menu-soc-text {
								@include font-settings("Gilroy", 10px 40px, 140%, 700, var(--dark-blue-color));
							}
							.mail-text {
								@include font-settings("Gilroy", 10px 40px, 140%, 700, var(--bright-blue-color));
								text-transform: lowercase;
							}
						}
					}
				}
			}
		}

		.menu-pop-up {
			display: flex;
			align-items: center;
			gap: 12px;

			@media (max-width: 980px) {
				display: none;
			}

			.pop-up-text {
				@include font-settings("Gilroy", 16px 22px, 140%, 600, var(--bright-blue-color));
				white-space: nowrap;
			}
			.pop-up-plus {
				display: inline-block;
				max-width: 34px;
				max-height: 34px;
			}
		}
	}
}
