@use "../core/mixins" as *;

.hero {
	.menu-container {
		@include adaptive-clamp("margin-bottom", 20px, 140px);

		@media (max-width: 548px) {
			position: relative;
		}

		.menu-desk {
			display: flex;
			justify-content: space-between;
			@include adaptive-clamp("gap", 16px, 50px);
			@include font-settings("Gilroy", 18px 24px, 140%, 500, var(--dark-blue-color));
			white-space: nowrap;

			@media (max-width: 548px) {
				display: none;
			}

			// Start animation navbar
			a {
				position: relative;
				outline: none;
			}

			a:hover {
				color: var(--white-color);
			}

			a::before {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: var(--white-color);
				transform: scaleX(0);
				transition: transform 0.5s ease;
			}

			a:hover::before {
				transform: scaleX(1);
			}

			a:active::before,
			a:focus::before,
			a:focus-visible::before {
				transform: scaleX(1);
			}
			// End animation navbar
		}

		.menu-mob {
			display: none;

			@media (max-width: 548px) {
				display: block;

				#sidebar-menu {
					height: auto;
					position: absolute;
					right: -5.5vw;
					width: 100vw;
					@include adaptive-clamp("margin-top", 40px, 100px);
					transform: translateX(100vw);
					transition: transform 600ms ease-in-out;
					background-color: var(--bg-main-color);
				}
				.sidebar-menu-inner {
					margin: 0;
					padding: 0;
					border-top: 1px solid rgba(255, 255, 255, 0.1);
				}
				.sidebar-menu-inner li {
					list-style: none;
					@include font-settings("Gilroy", 18px 20px, 140%, 700, var(--dark-blue-color));
					text-transform: uppercase;
					padding: 20px;
					cursor: pointer;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				}
				input[type="checkbox"]:checked ~ #sidebar-menu {
					transform: translateX(0);
				}
				input[type="checkbox"] {
					transition: all 0.3s;
					box-sizing: border-box;
					display: none;
				}
				.sidebar-icon-toggle {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					gap: 8px;
					transition: all 0.6s;
					cursor: pointer;
					position: absolute;
					z-index: 99;
					top: 0;
					right: 0;
					height: 52px;
					width: 52px;
					padding: 10px;
				}
				.spinner {
					transition: all 0.6s;
					position: absolute;
					height: 2px;
					width: 100%;
					background-color: var(--dark-blue-color);
				}
				.horizontal {
					transition: all 0.6s;
					position: relative;
					float: left;
				}
				.diagonal.part-1 {
					position: relative;
					transition: all 0.6s;
					float: left;
				}
				.diagonal.part-2 {
					transition: all 0.6s;
					position: relative;
					float: left;
				}
				input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .horizontal {
					transition: all 0.6s;
					opacity: 0;
				}
				input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
					transition: all 0.6s;
					transform: rotate(135deg);
					margin-top: 6px;
				}
				input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
					transition: all 0.6s;
					transform: rotate(-135deg);
					margin-top: -20px;
				}
			}
		}
	}
}
