@use "../core/mixins" as *;

.who {
	width: 100%;
	// max-height: calc(100vh - 6rem);
	@include adaptive-clamp("padding-top", 20px, 70px);
	@include adaptive-clamp("padding-bottom", 20px, 70px);

	.who-title {
		@include font-settings("Gilroy", 32px 96px, 100%, 500, var(--dark-blue-color));
		text-align: center;
		@include adaptive-clamp("padding-bottom", 6px, 12px);

		@media (max-width: 767px) {
			text-align: left;
		}
	}

	.who-subtitle {
		@include font-settings("Gilroy", 14px 34px, 120%, 500, var(--gray-color));
		text-align: center;
		@include adaptive-clamp("padding-bottom", 30px, 90px);

		@media (max-width: 767px) {
			text-align: left;
		}
	}

	.who-text {
		@include font-settings("Gilroy", 14px 32px, 100%, 500, var(--dark-blue-color));
		letter-spacing: -4%;
	}

	.who-desc-container {
		position: relative;
		display: block;
		@media (max-width: 767px) {
			display: none;
		}

		.who-pins {
			z-index: 1000;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			@include adaptive-clamp("width", 600px, 1330px);
			height: auto;
			svg {
				width: 100%;
				height: auto;
			}
		}
		.who-cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 20px;

			.who-card01 {
				flex-basis: 505px;
				flex-shrink: 1;
			}

			.who-card02 {
				flex-basis: 417px;
				flex-shrink: 1;
			}

			.who-card03 {
				flex-basis: 390px;
				flex-shrink: 1;
			}

			.who-card04 {
				flex-basis: 266px;
				flex-shrink: 1;
			}

			article {
				height: 100%;
				.who-text-num {
					@include font-settings("Gilroy", 14px 32px, 100%, 500, var(--gray-color));
					letter-spacing: -4%;
				}

				.who-card01-img {
					position: relative;
					img {
						width: 100%;
					}
				}
				.who-card02-img {
					position: relative;
					@include adaptive-clamp("padding-top", 2px, 10px, 8);
					img {
						width: 100%;
						@include adaptive-clamp("padding-bottom", 20px, 40px);
					}
				}
				.who-card03-img {
					position: relative;

					img {
						width: 100%;
						@include adaptive-clamp("padding-top", 120px, 260px);
					}
				}
				.who-card04-img {
					@include adaptive-clamp("padding-top", 44px, 96px);
					img {
						width: 100%;
					}
				}

				.who-card01-text {
					transform: rotate(-13deg);
					position: absolute;
					@include adaptive-clamp("left", 30px, 50px);
					@include adaptive-clamp("top", 50px, 140px);
				}
				.who-card02-text {
					position: absolute;
					@include adaptive-clamp("left", 10px, 20px);
					@include adaptive-clamp("top", 120px, 400px);
				}
				.who-card03-text {
					position: absolute;
					right: 0;
					@include adaptive-clamp("top", 10px, 20px);
				}
				.who-card04-text {
					display: block;
					max-width: max-content;
					margin-left: auto;
					@include adaptive-clamp("padding-top", 12px, 24px);
				}
			}
		}
	}

	.who-mob-container {
		display: none;

		@media (max-width: 767px) {
			display: block;
		}

		.who-mob-cards {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.who-mob-card01 {
			}

			.who-mob-card02 {
			}

			.who-mob-card03 {
				flex-direction: row-reverse;

				.who-mob-text3 {
					display: none;

					@media (max-width: 350px) {
						display: inline;
					}
				}
			}

			.who-mob-card04 {
			}

			article {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				@include adaptive-clamp("height", 150px, 360px);
				@include adaptive-clamp("border-radius", 5px, 24px);
				@include adaptive-clamp("padding-left", 20px, 95px);
				@include adaptive-clamp("padding-right", 20px, 95px);
				@include adaptive-clamp("padding-top", 16px, 85px);
				@include adaptive-clamp("padding-bottom", 16px, 85px);
				background-color: var(--light-gray-color);

				.who-mob-card02-img {
				}
				.who-mob-card03-img {
				}
				.who-mob-card04-img {
				}

				.who-mob-card-text {
					@include adaptive-clamp("max-width", 120px, 355px);
				}
			}
		}
	}
}
