@use "../core/mixins" as *;

.who {
	width: 100%;
	// max-height: calc(100vh - 6rem);
	@include adaptive-clamp("padding-top", 20px, 70px);
	@include adaptive-clamp("padding-bottom", 20px, 70px);

	.who-title {
		@include font-settings("Gilroy", 32px 96px, 100%, 500, var(--dark-blue-color));
		text-align: center;
		@include adaptive-clamp("padding-bottom", 6px, 12px);
	}

	.who-subtitle {
		@include font-settings("Gilroy", 14px 34px, 120%, 500, var(--gray-color));
		text-align: center;
		@include adaptive-clamp("padding-bottom", 30px, 90px);
	}
	.who-desc-container {
		.who-pins {
		}
		.who-cards {
			article {
				.who-text {
				}
				.who-text-num {
				}

				.who-card01-img {
				}
				.who-card02-img {
				}
				.who-card03-img {
				}
				.who-card04-img {
				}

				.who-card01-text {
				}
				.who-card02-text {
				}
				.who-card03-text {
				}
				.who-card04-text {
				}
			}
		}
	}
}
